html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  background-color: #000;
  color: #fff;
}

.container {
  max-width: 375px;
  padding: 0 16px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

.header{
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #000;
  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02px;
    font-weight: 500;
    text-transform: uppercase;
    color:rgba(226, 199, 199, 0.877);
  }
}

.main {
  padding: 10px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.date {
margin-bottom: 20px;
&__text{
text-align: center;
text-transform: uppercase;
  }
}

.task {
  &__list {
    padding: 5px;
    margin-bottom: 20px;
  }
  &__title{
    text-transform: capitalize;
    letter-spacing: 0.4px;
    font-size: 20px;
  }
  &__item {
    padding: 5px;
    display: flex;
    align-items: center;
    &:not(:last-child){
      margin-bottom: 10px;
    }
  }
  &__check-button {
   display: flex;
   align-items: center;
   margin-right: 15px;
  }

  &__check {
    position: relative;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  &__text{
    margin-left: 15px;
  }
  &__trash{
    cursor: pointer;
  }
}

.footer {
  padding: 24px 0;
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__input {
    flex: 1;
    padding: 8px 11px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    &::placeholder {
      color: #bdbdbd;
    }

    &:focus {
      outline-width: 0px;
    }
  }

  &__btn {
    padding: 5px 22px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    opacity: 0.7;
  }
}

.notification {
  padding: 5px;

  &__text{
    color: rgba(214, 52, 52, 0.753);
    font-size: 16px;
  }
}

